.navbar {
    display: flex;
    size: 30px;
    color: white;
    background-color: gray;
    flex-direction: row;
    justify-content: flex-start !important;
    top: 0;
    width: 100vw;
    text-decoration: none !important;
    padding: 0 !important;
    align-items: flex-end !important;
}

.navigate {
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}

.navigate:hover {
    cursor: pointer;
    background-color: rgb(163, 163, 163);
    color: black;
}

.dropdown {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 0px;
    border: none;
}


