.modalButton {
    border-radius: 5px;
    padding: 5px 16px 10px 16px;
}

.eventModal {
    position: fixed;
    display: none; /* Hidden by default */
    z-index: 1062;/* Sit on top */
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: flex-end;
}

.eventContent {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 50%;
    height: 100%;
    color:#333333;
}

.eventBody {
    text-align: left;
    padding: 5%;
    flex: 1;
}

.eventHeader{
    background-color: #aaaaaa;
    padding: 2%; 
    height: 10vh; 
}

.eventHeader h1{
    font-size: 5vh !important;
}

.closeEvent {
    --box: 4vw;
    background-color: #0143a5;
    color: white;
    font-size: 2.5vw;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: var(--box);
    width: var(--box);
}

.closeEvent:hover{
    color:#000000;
    cursor: pointer;
    font-weight: bold;
}

.buttons{
    align-self: flex-start;
    margin-bottom: 5vw;
    margin-left: 5vw;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 20px;
}

.EditSubmitButton{
    background-color:#0143a5;
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
}
.EditSubmitButton:hover{
    color:#000000;
    cursor: pointer;
}